<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{ $title := print .Title " · " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ $styles := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" />

</head>
<body class="{{ block "body_class" . }} {{ end }}">

    <div class="site-wrapper">
        {{- block "main" . }}{{- end }}


        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> &copy; 2021</section>
                <nav class="site-footer-nav">
                    {{ if .Site.Params.facebook }}<a href="{{ .Site.Params.facebook }}" target="_blank" rel="noopener">Facebook</a>{{ end }}
                    {{ if .Site.Params.instagram }}<a href="{{ .Site.Params.instagram }}" target="_blank" rel="noopener">Instagram</a>{{ end }}
                    {{ if .Site.Params.meetup }}<a href="{{ .Site.Params.meetup }}" target="_blank" rel="noopener">Meetup</a>{{ end }}                    
                </nav>
            </div>
        </footer>

    </div>

</body>
</html>