{{ define "body_class" }} post-template {{ end }}

{{ define "main" }}

<header class="site-header">
    {{- partial "site-header.html" $ -}}
</header>

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full post {{ if not (.Param "feature_image") }} no-image {{ end }}">

            <header class="post-full-header">

                {{ with .Params.tags }}
                    {{ $primaryTag := (index . 0) }}
                    <section class="post-full-tags">
                        <a href="{{ "/tags/" | relLangURL }}{{ $primaryTag | urlize }}">{{ $primaryTag }}</a>
                    </section>
                {{ end }}

                <h1 class="post-full-title">{{ .Title }}</h1>

                <div class="post-full-byline">

                    </section>


                </div>
            </header>


            <section class="post-full-content">
                <div class="post-content">
                    {{ .Content }}
                </div>
            </section>

        </article>

    </div>
</main>

{{- partial "post-navigation.html" . -}}

{{ end }}